<div class="scene">
  <div class="float-wrapper">
    <div
      class="cube"
      [style.transform]="'rotateY(' + rotation() + 'deg)'"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp()"
      (pointerleave)="onPointerUp()"
    >
      <div class="face front"><app-standard-face /></div>
      <div class="face right"><app-scientific-face /></div>
      <div class="face back"><app-history-face /></div>
      <div class="face left"><app-converter-face /></div>
    </div>
  </div>
</div>

<nav class="face-nav">
  @for (face of faces; track face; let i = $index) {
    <button
      [class.active]="currentFaceIndex() === i"
      (click)="rotateTo(i)"
    >{{ face }}</button>
  }
</nav>